<template>
  <v-dialog
    v-model="value"
    width="40%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-layout>
            <v-flex
              xs2
              pr-2
            >
              <v-text-field
                :disabled="formDisabled"
                label="Kode Cabang"
                v-model="form.id"
              />
            </v-flex>
            <v-flex
              xs10
              pl-2
            >
              <v-text-field
                :disabled="formDisabled"
                label="Nama Cabang"
                v-model="form.name"
              />
            </v-flex>
          </v-layout>
          <v-text-field
            :disabled="formDisabled"
            label="Phone"
            v-model="form.phone"
          />
          <v-text-field
            :disabled="formDisabled"
            label="Alamat"
            v-model="form.address"
          />
          <div class="text-xs-right">
            <v-btn
              :disabled="$v.$invalid || formDisabled"
              type="submit"
              dark
              class="uajy-blue"
            >
              Simpan
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import validator from '../../validators/branch';

function emptyBranch() {
  return {
    id: '',
    name: '',
    phone: '',
    address: '',
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: Number,
      default: null,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyBranch(),
    };
  },

  validations: {
    form: validator,
  },

  computed: {
    title() {
      if (!this.edit) {
        return 'Tambah Cabang';
      }
      return 'Edit Cabang';
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyBranch();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchBranch(this.id);
        this.loading = false;
        this.formDisabled = false;
      }
    },
  },

  methods: {
    ...mapActions({
      storeBranch: 'Branch/store',
      fetchBranch: 'Branch/fetch',
      updateBranch: 'Branch/update',
    }),

    close() {
      this.form = emptyBranch();
      this.onClose();
      this.$emit('input', false);
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeBranch(this.form);
      } else {
        await this.updateBranch(this.form);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
