<template>
  <v-dialog
    v-model="value"
    width="50%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3 class="headline">Check-in: Reservasi {{ reservation.id }}</h3>
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-layout
            row
            wrap
          >
            <v-flex
              xs4
              pr-2
            >
              <v-text-field
                label="Pelanggan"
                :value="reservation.customer.name"
                readonly
              />
            </v-flex>
            <v-flex
              xs4
              pl-2
              pr-2
            >
              <v-text-field
                label="No. Telpon"
                :value="reservation.customer.phone"
                readonly
              />
            </v-flex>
            <v-flex
              xs4
              pr-2
            >
              <v-text-field
                label="Tanggal/Waktu Reservasi"
                :value="reservation.created_at"
                readonly
              />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                label="Deposit"
                v-model="form.deposit"
              />
            </v-flex>
            <v-flex
              xs6
              pr-2
            >
              <h3>Kamar</h3>
              <v-list two-line>
                <v-list-tile
                  v-for="room in mappedRooms"
                  :key="room.id"
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-html="room.type.name" />
                    <v-list-tile-sub-title v-html="room.roomName" />
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-flex>
            <v-flex
              xs6
              pl-2
            >
              <h3>Layanan</h3>
              <v-list two-line>
                <v-list-tile
                  v-for="service in reservation.services"
                  :key="service.id"
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-html="service.name" />
                    <v-list-tile-sub-title v-html="service.pivot.qty" />
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-flex>
          </v-layout>
          <div class="text-xs-right">
            <v-btn
              :disabled="formDisabled"
              type="submit"
              dark
              class="uajy-blue"
            >
              Check-in
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';

function emptyData() {
  return {
    deposit: 0,
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    reservation: {
      type: Object,
      required: true,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyData(),
    };
  },

  computed: {
    mappedRooms() {
      return this.reservation.rooms
        .map((item) => {
          const smoking = item.smoking ? '| Merokok' : '';

          item.roomName = `Kamar No. ${item.id} ${smoking}`;

          return item;
        });
    },
  },

  methods: {
    ...mapActions({
      checkin: 'Reservation/checkin',
    }),

    close() {
      this.form = emptyData();
      this.onClose();
      this.$emit('input', false);
    },

    async submitHandler(e) {
      e.preventDefault();

      // if (this.$v.$invalid) {
      //   return;
      // }

      this.loading = true;
      this.formDisabled = true;

      await this.checkin({
        id: this.reservation.id,
        deposit: this.form.deposit,
      });

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
