<template>
  <v-dialog
    v-model="value"
    width="50%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3 class="headline">Check-out: Reservasi {{ reservation.id }}</h3>
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-layout
            row
            wrap
          >
            <v-flex
              xs4
              pr-2
            >
              <v-text-field
                label="Pelanggan"
                :value="reservation.customer.name"
                readonly
              />
            </v-flex>
            <v-flex
              xs4
              pl-2
              pr-2
            >
              <v-text-field
                label="No. Telpon"
                :value="reservation.customer.phone"
                readonly
              />
            </v-flex>
            <v-flex
              xs4
              pr-2
            >
              <v-text-field
                label="Tanggal/Waktu Reservasi"
                :value="reservation.created_at"
                readonly
              />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                label="Deposit"
                :value="reservation.deposit"
                readonly
              />
            </v-flex>
            <v-flex
              xs6
              pr-2
            >
              <h3>Kamar</h3>
              <v-list two-line>
                <v-list-tile
                  v-for="room in mappedRooms"
                  :key="room.id"
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-html="room.type.name + ' @ Rp ' + room.type.price" />
                    <v-list-tile-sub-title v-html="room.roomName" />
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-flex>
            <v-flex
              xs6
              pl-2
            >
              <h3>Layanan</h3>
              <v-list two-line>
                <v-list-tile
                  v-for="service in reservation.services"
                  :key="service.id"
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-html="service.name" />
                    <v-list-tile-sub-title v-html="service.pivot.qty" />
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-flex>
            <v-flex xs12>
              <h3>Pembayaran</h3>
              <v-list two-line>
                <v-list-tile
                  v-for="log in mappedPaymentLogs"
                  :key="log.id"
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-html="log.title" />
                    <v-list-tile-sub-title v-html="log.total" />
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-flex>
            <v-flex
              xs6
              pr-2
            >
              <v-text-field
                label="Total"
                :value="total"
                readonly
              />
            </v-flex>
            <v-flex
              xs6
              pl-2
            >
              <v-text-field
                label="Dibayar"
                :value="total - totalUnpaid"
                readonly
              />
            </v-flex>
            <v-flex xs12>
              <h3 class="mb-3">Pelunasan</h3>
            </v-flex>
            <v-flex
              xs6
              pr-2
            >
              <v-text-field
                label="Total"
                :value="totalUnpaid"
                readonly
              />
            </v-flex>
            <v-flex
              xs6
              pl-2
            >
              <v-select
                label="Jenis Pembayaran"
                v-model="form.payment_type_id"
                :items="mappedPaymentTypes"
                item-value="id"
                item-text="name"
              />
            </v-flex>
          </v-layout>
          <div class="text-xs-right">
            <v-btn
              :disabled="formDisabled"
              type="submit"
              dark
              class="uajy-blue"
            >
              Check-out
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapActions } from 'vuex';

function emptyData() {
  return {
    paid: 0,
    payment_type_id: null,
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    reservation: {
      type: Object,
      required: true,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyData(),
    };
  },

  computed: {
    ...mapState({
      paymentTypes: state => state.PaymentType.data,
    }),

    mappedPaymentTypes() {
      return this.paymentTypes.filter(item => item.id !== 2);
    },

    mappedRooms() {
      return this.reservation.rooms
        .map((item) => {
          const smoking = item.smoking ? '| Merokok' : '';

          item.roomName = `Kamar No. ${item.id} ${smoking}`;

          return item;
        });
    },

    mappedPaymentLogs() {
      return this.reservation.payment_logs
        .map((item) => {
          const newItem = Object.assign({}, item);
          const paid = newItem.payment_status_id === 2 ? '| LUNAS' : '';

          newItem.title = `${newItem.id} ${paid}`;
          newItem.total = `Rp ${newItem.total}`;

          return newItem;
        });
    },

    total() {
      let total = 0;

      this.reservation.payment_logs.forEach((item) => {
        total += parseFloat(item.total);
      });

      return total;
    },

    totalUnpaid() {
      let total = 0;

      this.reservation.payment_logs.forEach((item) => {
        if (item.payment_status_id === 1) {
          total += parseFloat(item.total);
        }
      });

      return total;
    },
  },

  methods: {
    ...mapActions({
      checkout: 'Reservation/checkout',
    }),

    close() {
      this.form = emptyData();
      this.onClose();
      this.$emit('input', false);
    },

    async submitHandler(e) {
      e.preventDefault();

      // if (this.$v.$invalid) {
      //   return;
      // }

      this.loading = true;
      this.formDisabled = true;

      await this.checkout({
        id: this.reservation.id,
        payment_type_id: this.form.payment_type_id,
      });

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
