<template>
  <v-dialog
    v-model="value"
    width="90%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-spacer />
        <v-btn
          @click="close"
        >
          Batal
        </v-btn>
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-layout>
            <v-flex
              md8
              pr-4
            >
              <!-- Customer finder -->
              <v-layout
                row
                wrap
                class="mb-4"
              >
                <v-flex
                  xs4
                  pr-2
                >
                  <v-select
                    :disabled="formDisabled"
                    label="Pelanggan"
                    v-model="form.customer_id"
                    :items="mappedCustomers"
                    item-value="id"
                    item-text="name"
                    autocomplete
                  />
                </v-flex>
                <v-flex
                  xs4
                  pl-2
                  pr-2
                >
                  <v-text-field
                    label="No. Telpon"
                    :value="selectedCustomer.phone"
                    readonly
                  />
                </v-flex>
                <v-flex
                  xs4
                  pl-2
                >
                  <v-text-field
                    label="Alamat"
                    :value="selectedCustomer.address"
                    readonly
                  />
                </v-flex>
                <v-flex
                  xs4
                  pr-2
                >
                  <v-select
                    label="Status Reservasi"
                    v-model="form.reservation_status_id"
                    :items="mappedReservationStatuses"
                    item-value="id"
                    item-text="name"
                  />
                </v-flex>
                <v-flex
                  xs4
                  pl-2
                  pr-2
                >
                  <v-text-field
                    type="number"
                    label="Dewasa"
                    v-model="form.num_of_adults"
                  />
                </v-flex>
                <v-flex
                  xs4
                  pl-2
                >
                  <v-text-field
                    type="number"
                    label="Anak-anak"
                    v-model="form.num_of_kids"
                  />
                </v-flex>
              </v-layout>
              <!-- Room finder -->
              <h3>Kamar & Layanan</h3>
              <v-layout
                row
                wrap
                class="mb-4"
              >
                <v-flex
                  xs4
                  pr-2
                >
                  <v-menu
                    ref="startMenu"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-right="40"
                    min-width="290px"
                    :close-on-content-click="false"
                  >
                    <v-text-field
                      slot="activator"
                      label="Mulai"
                      :value="asDate(form.start)"
                      readonly
                    />
                    <v-date-picker
                      v-model="form.start"
                      no-title
                      scrollable
                      :min="today.format('YYYY-MM-DD')"
                    >
                      <v-spacer />
                      <v-btn
                        flat
                        color="primary"
                        @click="form.start = null"
                      >
                        Hapus
                      </v-btn>
                      <v-btn
                        flat
                        color="primary"
                        @click="$refs.startMenu.save(form.start)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex
                  xs4
                  pl-2
                  pr-2
                >
                  <v-menu
                    ref="endMenu"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-right="40"
                    min-width="290px"
                    :close-on-content-click="false"
                  >
                    <v-text-field
                      slot="activator"
                      label="Selesai"
                      :value="asDate(form.end)"
                      readonly
                    />
                    <v-date-picker
                      v-model="form.end"
                      no-title
                      scrollable
                      :min="minEndDate"
                    >
                      <v-spacer />
                      <v-btn
                        flat
                        color="primary"
                        @click="form.end = null"
                      >
                        Hapus
                      </v-btn>
                      <v-btn
                        flat
                        color="primary"
                        @click="$refs.endMenu.save(form.end)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex
                  xs4
                  pl-2
                >
                  <v-text-field
                    label="Durasi Menginap"
                    :value="duration + ' malam'"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-list subheader>
                    <v-subheader v-if="form.room_types.length > 0 ">Kamar</v-subheader>
                    <v-list-group
                      v-for="roomType in form.room_types"
                      :key="roomType.id"

                    >
                      <v-list-tile slot="activator">
                        <v-list-tile-content>
                          <v-list-tile-title>
                            {{ `${roomType.name}
                              @ ${asCurrency(roomType.price)} | (${roomType.available})`
                            }}
                          </v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                      <v-list-tile
                        v-for="room in roomType.rooms"
                        :key="room.id"
                      >
                        <v-list-tile-content>
                          <v-list-tile-title>
                            {{ room.id }}
                            {{ ` | Bed: ${room.bed.name}` }}
                            {{ room.smoking ? ', Merokok' : '' }}
                          </v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                          <v-checkbox v-model="room.checked" />
                        </v-list-tile-action>
                      </v-list-tile>
                    </v-list-group>
                    <v-subheader v-if="form.room_types.length > 0">Layanan</v-subheader>
                    <v-list-tile
                      v-if="form.room_types.length > 0"
                      v-for="service in form.services"
                      :key="service.id"
                    >
                      <v-list-tile-content>
                        <v-list-tile-title>
                          {{ `${service.name} @ ${asCurrency(service.price)}` }}
                        </v-list-tile-title>
                      </v-list-tile-content>
                      <v-list-tile-action>
                        <v-text-field
                          type="number"
                          style="width: 50px"
                          v-model="service.qty"
                        />
                      </v-list-tile-action>
                    </v-list-tile>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex
              md4
              pl-4
            >
              <h3>Pembayaran</h3>
              <p
                v-if="selectedRooms.length === 0"
                class="text-xs-center mt-2"
              >
                Inputkan kamar/layanan
              </p>
              <v-layout
                v-if="selectedRooms.length > 0"
                wrap
              >
                <v-flex
                  xs6
                  pr-2
                >
                  <v-select
                    label="Jenis Pembayaran"
                    v-model="form.payment_type_id"
                    :items="paymentTypes"
                    item-value="id"
                    item-text="name"
                  />
                </v-flex>
                <v-flex
                  xs6
                  pl-2
                >
                  <v-select
                    label="Status Pembayaran"
                    v-model="form.payment_status_id"
                    :items="mappedPaymentStatuses"
                    item-value="id"
                    item-text="name"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-list two-line>
                    <v-list-tile
                      v-if="selectedRooms.length > 0"
                      v-for="room in selectedRooms"
                      :key="room.id"
                    >
                      <v-list-tile-content>
                        <v-list-tile-title>
                          {{ room.id }}
                          {{ ` | Bed: ${room.bed.name}` }}
                          {{ room.smoking ? ', Merokok' : '' }}
                        </v-list-tile-title>
                        <v-list-tile-sub-title>
                          {{ `${asCurrency(room.price)}
                            x ${duration} malam @ ${asCurrency(room.subtotal)}`
                          }}
                        </v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile
                      v-if="selectedServices.length > 0"
                      v-for="service in selectedServices"
                      :key="service.id"
                    >
                      <v-list-tile-content>
                        <v-list-tile-title>
                          {{ service.name }}
                        </v-list-tile-title>
                        <v-list-tile-sub-title>
                          {{ `${asCurrency(service.price)}
                            x ${service.qty} @ ${asCurrency(service.subtotal)}` }}
                        </v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-if="selectedRooms.length > 0 || selectedServices > 0">
                      <v-list-tile-content>
                        <v-list-tile-title>
                          {{ `Total: ${asCurrency(transactionTotal)}` }}
                        </v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                  <div
                    v-if="paymentTypeSelected"
                  >
                    <v-layout wrap>
                      <v-flex
                        v-if="onlyReserving"
                        xs12
                      >
                        <v-text-field
                          label="DP"
                          :value="form.dp"
                          readonly
                        />
                      </v-flex>
                      <v-flex
                        v-if="selectedPaymentType.id === 1"
                        xs12
                      >
                        <v-select
                          label="Kartu Kredit Pelanggan"
                          v-model="form.credit_card_id"
                          :items="mappedCustomerCreditCards"
                          item-value="id"
                          item-text="name"
                        />
                      </v-flex>
                      <v-flex
                        v-if="selectedPaymentType.id === 3"
                        xs6
                        pr-2
                      >
                        <v-text-field
                          label="Bayar"
                          v-model="form.paid"
                        />
                      </v-flex>
                      <v-flex
                        v-if="selectedPaymentType.id === 3"
                        xs6
                        pl-2
                      >
                        <v-text-field
                          label="Kembali"
                          :value="form.paid - transactionTotal"
                          readonly
                        />
                      </v-flex>
                    </v-layout>
                    <v-text-field
                      v-if="!onlyReserving"
                      label="Deposit"
                      v-model="form.deposit"
                    />
                  </div>
                  <v-btn
                    :disabled="formDisabled || $v.$invalid"
                    type="submit"
                    dark
                    class="uajy-blue"
                    large
                    block
                  >
                    Simpan
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { find, flatten } from 'lodash';
import moment from 'moment';
import validator from '../../validators/reservation';
import helpers from '../../helpers';

function emptyReservation() {
  return {
    id: '',
    customer_id: null,
    start: null,
    end: null,
    num_of_adults: 0,
    num_of_kids: 0,
    reservation_status_id: null,
    payment_type_id: null,
    payment_status_id: null,
    room_types: [],
    services: [],
    credit_card_id: null,
    dp: 0,
    paid: 0,
    deposit: 0,
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: String,
      default: null,
    },

    onClose: {
      type: Function,
      default: () => {},
    },

    onSubmit: {
      type: Function,
      default: () => {},
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      startMenu: false,
      endMenu: false,
      form: emptyReservation(),
      test: true,
    };
  },

  validations: validator,

  computed: {
    ...mapState({
      customers: state => state.Customer.data,
      roomTypes: state => state.RoomType.data,
      paymentTypes: state => state.PaymentType.data,
      paymentStatuses: state => state.PaymentStatus.data,
      reservationStatuses: state => state.ReservationStatus.data,
      services: state => state.Service.data,
    }),

    title() {
      if (!this.edit) {
        return 'Reservasi Baru';
      }
      return 'Edit Reservasi';
    },

    today() {
      return moment();
    },

    minEndDate() {
      return moment(this.form.start)
        .add(1, 'days')
        .format('YYYY-MM-DD');
    },

    mappedReservationStatuses() {
      return this.reservationStatuses
        .filter(item => item.id !== 3 && item.id !== 5);
    },

    mappedCustomers() {
      return this.customers
        .map((item) => {
          item.name = `${item.type} - ${item.name}`;

          return item;
        })
        .sort((current, next) => {
          const currentName = current.name;
          const nextName = next.name;

          if (currentName < nextName) return -1;
          if (currentName > nextName) return 1;
          return 0;
        });
    },

    mappedCustomerCreditCards() {
      return this.selectedCustomer.credit_cards
        .map(item => ({
          id: item.id,
          name: `${item.number} - ${item.name}`,
        }));
    },

    mappedPaymentStatuses() {
      if (!this.onlyReserving) {
        return this.paymentStatuses
          .filter(item => item.id === 2);
      }

      return this.paymentStatuses;
    },

    selectedCustomer() {
      const { customer_id } = this.form;
      const customer = find(this.customers, item => item.id === customer_id);

      if (typeof customer === 'undefined') return { name: '', phone: '', credit_cards: [] };

      return customer;
    },

    selectedRooms() {
      const { duration } = this;

      const roomTypes = this.form.room_types
        .map((item) => {
          item.rooms.map((room) => {
            room.price = item.price;
            room.subtotal = room.price * duration;

            return room;
          });

          return item.rooms;
        });

      return flatten(roomTypes)
        .filter(item => item.checked);
    },

    selectedServices() {
      return this.form.services
        .filter(item => item.qty > 0)
        .map((item) => {
          item.subtotal = item.price * item.qty;

          return item;
        });
    },

    selectedPaymentType() {
      const { payment_type_id } = this.form;
      const paymentType = find(this.paymentTypes, item => item.id === payment_type_id);

      if (typeof paymentType === 'undefined') return { name: '' };

      return paymentType;
    },

    isGroupCustomer() {
      return this.selectedCustomer.type === 'G';
    },

    isPersonalCustomer() {
      return this.selectedCustomer.type === 'P';
    },

    paymentTypeSelected() {
      return this.form.payment_type_id !== null;
    },

    onlyReserving() {
      return this.form.reservation_status_id === 1 ||
        this.form.reservation_status_id === 2;
    },

    duration() {
      if (
        this.form.start === '' ||
        this.form.start === null ||
        this.form.end === '' ||
        this.form.end === null
      ) return 0;

      const start = moment(this.form.start, 'YYYY-MM-DD');
      const end = moment(this.form.end, 'YYYY-MM-DD');
      const duration = end.diff(start, 'days');

      return duration;
    },

    transactionTotal() {
      let total = 0;

      this.selectedRooms
        .forEach((item) => {
          total += parseFloat(item.subtotal);
        });

      this.selectedServices
        .forEach((item) => {
          total += parseFloat(item.subtotal);
        });

      return total;
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyReservation();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchReservation(this.id);
        this.loading = false;
        this.formDisabled = false;
      }
    },

    roomTypes(val) {
      this.form.room_types = val.map(item => ({
        id: item.id,
        name: item.name,
        available: item.available,
        price: item.price,
        qty: 0,
        subtotal: 0,
        smoking: false,
        rooms: item.rooms
          .filter(item => item.available)
          .map((item) => {
            const newItem = Object.assign({}, item);

            newItem.checked = false;

            return newItem;
          }),
      }));
    },

    services(val) {
      this.form.services = val.map((item) => {
        const newItem = Object.assign({}, item);

        newItem.qty = 0;

        return newItem;
      });
    },

    mappedPaymentStatuses() {
      this.form.payment_status_id = null;
    },

    'form.reservation_status_id': function (val) {
      if (val === 1 || val === 2) {
        this.form.dp = this.transactionTotal / 2;
      }
    },

    'form.start': async function (val) {
      const { end } = this.form;

      if (val && end) {
        await this.fetchAvailableRooms({
          start: val,
          end,
        });
      }
    },

    'form.end': async function (val) {
      const { start } = this.form;

      if (val && start) {
        await this.fetchAvailableRooms({
          start,
          end: val,
        });
      }
    },
  },

  methods: {
    ...mapActions({
      makeReservation: 'Reservation/make',
      fetchAvailableRooms: 'RoomType/fetchForReservation',
    //   fetchReservation: 'Reservation/fetch',
    //   updateReservation: 'Reservation/update',
    }),

    close() {
      this.form = emptyReservation();
      this.onClose();
      this.$emit('input', false);
    },

    asCurrency(number) {
      return helpers.asCurrency(number);
    },

    asDate(date) {
      return helpers.asDate(date);
    },

    async submitHandler(e) {
      e.preventDefault();

      // if (this.$v.$invalid) {
      //   return;
      // }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        const payload = Object.assign({}, this.form);
        payload.rooms = this.selectedRooms;
        payload.services = this.selectedServices;

        await this.makeReservation(payload);
      } else {
        // await this.updateReservation(this.form);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },

    onQtyChange(item) {
      item.subtotal = parseFloat(item.qty) * parseFloat(item.price) * this.duration;

      this.form.dp = this.transactionTotal / 2;
    },
  },
};
</script>
