<template>
  <v-layout>
    <v-flex md12>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <div class="control-bar">
        <v-btn
          dark
          class="uajy-blue"
          @click="showFormDialog"
        >
          Reservasi Baru
        </v-btn>
      </div>
      <v-card v-if="!loading">
        <v-data-table
          :headers="tableHeaders"
          :items="reservationsDataTable"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.id" />
            <td v-html="props.item.date_range" />
            <td v-html="props.item.customer.name" />
            <td v-html="props.item.status.name" />
            <td class="text-xs-right">
              <v-btn
                v-if="showCheckinButton(props.item)"
                color="success"
                small
                @click="showCheckinDialog(props.item.id)"
              >
                Check-in
              </v-btn>
              <v-btn
                v-if="showCheckoutButton(props.item)"
                color="orange"
                small
                @click="showCheckoutDialog(props.item.id)"
              >
                Check-out
              </v-btn>
              <v-btn
                color="primary"
                small
                dark
                @click="toggleEdit(props.item.id)"
              >
                Edit
              </v-btn>
              <v-btn
                color="red"
                small
                dark
                @click="showDeleteDialog(props.item.id)"
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <reservation-dialog
      :edit="isEditing"
      :id="selectedId"
      v-model="formDialogVisible"
      :on-close="formDialogCloseHandler"
      :on-submit="formDialogSubmitHandler"
    />
    <checkin-dialog
      v-model="checkinDialogVisible"
      :reservation="selectedReservation"
      :on-close="checkinDialogCloseHandler"
      :on-submit="checkinDialogSubmitHandler"
    />
    <checkout-dialog
      v-model="checkoutDialogVisible"
      :reservation="selectedReservation"
      :on-close="checkinDialogCloseHandler"
      :on-submit="checkinDialogSubmitHandler"
    />
    <v-dialog
      v-model="deleteDialogVisible"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Hapus Reservasi Ini?</v-card-title>
        <v-card-text>Tindakan ini tidak dapat dikembalikan</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteDialogVisible = false"
          >
            Batal
          </v-btn>
          <v-btn
            color="red darken-1"
            flat
            @click.native="deleteReservationHandler(selectedId)"
          >
            Hapus
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { find } from 'lodash';
import ReservationDialog from './ReservationDialog';
import CheckinDialog from './CheckinDialog';
import CheckoutDialog from './CheckoutDialog';

export default {
  components: {
    ReservationDialog,
    CheckinDialog,
    CheckoutDialog,
  },

  data() {
    return {
      loading: true,
      formDialogVisible: false,
      deleteDialogVisible: false,
      checkinDialogVisible: false,
      checkoutDialogVisible: false,
      isEditing: false,
      selectedId: null,
      tableHeaders: [
        { text: 'No. Reservasi', align: 'left', value: 'id', sortable: true },
        { text: 'Rentang Tanggal', align: 'left', value: 'date_range', sortable: true },
        { text: 'Pelanggan', align: 'left', value: 'customer.name', sortable: true },
        { text: 'Status', align: 'left', value: 'status.name', sortable: true },
        { text: 'Tindakan', align: 'right', value: null, sortable: false },
      ],
    };
  },

  computed: {
    ...mapState({
      reservations: state => state.Reservation.data,
    }),

    reservationsDataTable() {
      return this.reservations
        .map((item) => {
          item.date_range = `${item.start} - ${item.end}`;

          return item;
        });
    },

    selectedReservation() {
      const reservation = find(this.reservations, { id: this.selectedId });

      if (typeof reservation === 'undefined') {
        return {
          id: '',
          customer: {
            name: '',
          },
          created_at: '',
          rooms: [],
          services: [],
          payment_logs: [],
        };
      }

      return reservation;
    },
  },

  methods: {
    ...mapActions({
      fetchReservations: 'Reservation/fetchAll',
      deleteReservation: 'Reservation/delete',
      fetchCustomers: 'Customer/fetchAll',
      fetchPaymentTypes: 'PaymentType/fetchAll',
      fetchPaymentStatuses: 'PaymentStatus/fetchAll',
      fetchReservationStatuses: 'ReservationStatus/fetchAll',
      fetchServices: 'Service/fetchAll',
    }),

    async fetchDataHandler() {
      this.loading = true;
      await this.fetchReservations();
      await this.fetchCustomers();
      await this.fetchPaymentTypes();
      await this.fetchPaymentStatuses();
      await this.fetchReservationStatuses();
      await this.fetchServices();
      this.loading = false;
    },

    showFormDialog() {
      this.formDialogVisible = true;
    },

    showDeleteDialog(id) {
      this.selectedId = id;
      this.deleteDialogVisible = true;
    },

    showCheckinDialog(id) {
      this.selectedId = id;
      this.checkinDialogVisible = true;
    },

    showCheckoutDialog(id) {
      this.selectedId = id;
      this.checkoutDialogVisible = true;
    },

    showCheckinButton(item) {
      return item.reservation_status_id !== 4
        && item.reservation_status_id !== 5;
    },

    showCheckoutButton(item) {
      return item.reservation_status_id === 4;
    },

    toggleEdit(id) {
      this.selectedId = id;
      this.isEditing = true;
      this.showFormDialog();
    },

    formDialogCloseHandler() {
      this.isEditing = false;
      this.selectedId = null;
    },

    formDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchDataHandler();
    },

    checkinDialogCloseHandler() {
      this.selectedId = null;
    },

    checkinDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchDataHandler();
    },

    checkoutDialogCloseHandler() {
      this.selectedId = null;
    },

    checkoutDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchDataHandler();
    },

    async deleteReservationHandler(id) {
      this.loading = true;
      await this.deleteReservation(id);
      await this.fetchReservations();
      this.selectedId = null;
      this.loading = false;
      this.deleteDialogVisible = false;
    },
  },

  async mounted() {
    await this.fetchDataHandler();
  },
};
</script>
