<template>
  <v-app>
    <v-navigation-drawer
      v-if="!isLoginPage"
      app
      fixed
      clipped
      v-model="drawer"
    >
      <v-list>
        <v-list-group
          v-for="menu in displayedMenus"
          :key="menu.id"
          :prepend-icon="menu.icon"
          :append-icon="null"
          no-action
        >
          <v-list-tile
            slot="activator"
            @click="$router.push({ name: menu.to })"
          >
            <v-list-tile-content>
              <v-list-tile-title v-html="menu.text" />
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            v-for="subMenu in menu.subMenus"
            :key="subMenu.id"
            @click="$router.push({ name: subMenu.to })"
          >
            <v-list-tile-content
              class="grey--text text--darken-2"
              v-html="subMenu.text"
            />
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      v-if="!isLoginPage"
      app
      dark
      fixed
      clipped-left
      class="uajy-blue"
    >
      <v-toolbar-side-icon
        @click.stop="drawer = !drawer"
      />
      <v-toolbar-title>Online Grand Atma Hotels</v-toolbar-title>
      <v-spacer />
      <v-menu
        open-on-hover
        bottom
        offset-y
      >
        <v-btn
          flat
          slot="activator"
        >
          <v-icon class="mr-2">account_box</v-icon>
          {{ userName }}
        </v-btn>
        <v-list>
          <v-list-tile @click="logoutHandler">
            <v-list-tile-content>
              <v-list-tile-title>Keluar</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <v-container
        fluid
        fill-height
      >
        <router-view />
      </v-container>
    </v-content>
    <v-footer
      v-if="!isLoginPage"
      app
    >
      <v-spacer />
      <span class="copyright">
        Developed by TF UAJY
      </span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
import Auth from '../services/Auth';

export default {
  data: () => ({
    drawer: true,
    menus: [
      { id: 1, to: 'dashboard', icon: 'dashboard', text: 'Dasbor', subMenus: [], hideIn: [] },
      {
        id: 2,
        to: 'users.index',
        icon: 'account_circle',
        text: 'Pengguna',
        hideIn: [2],
      },
      {
        id: 3,
        to: 'services.index',
        icon: 'shopping_basket',
        text: 'Layanan Berbayar',
        hideIn: [2],
      },
      {
        id: 4,
        to: 'facilities.index',
        icon: 'store',
        text: 'Fasilitas',
        hideIn: [2],
      },
      {
        id: 5,
        to: 'seasons.index',
        icon: 'date_range',
        text: 'Season',
        hideIn: [2],
      },
      {
        id: 6,
        to: 'branches.index',
        icon: 'account_balance',
        text: 'Cabang',
        hideIn: [2],
      },
      {
        id: 7,
        to: null,
        icon: 'event_seat',
        text: 'Kamar',
        hideIn: [2],
        subMenus: [
          {
            id: 8,
            to: 'room_types.index',
            text: 'Jenis Kamar',
            hideIn: [2],
          },
          {
            id: 10,
            to: 'rooms.index',
            text: 'Kamar',
            hideIn: [2],
          },
          {
            id: 9,
            to: 'price_list',
            text: 'Daftar Harga',
            hideIn: [2],
          },
        ],
      },
      {
        id: 12,
        to: 'reservations.index',
        icon: 'date_range',
        text: 'Reservasi',
        hideIn: [],
      },
      {
        id: 11,
        to: 'customers.index',
        icon: 'account_circle',
        text: 'Pelanggan',
        hideIn: [2],
      },
    ],
  }),

  computed: {
    ...mapGetters({
      userName: 'LoggedUser/name',
      userRoleId: 'LoggedUser/roleId',
    }),

    isLoginPage() {
      return this.$route.name === 'login';
    },

    displayedMenus() {
      const { userRoleId } = this;

      return this.menus
        .filter(menu => menu.hideIn.indexOf(userRoleId) === -1);
    },
  },

  methods: {
    logoutHandler() {
      Auth.clearJwt();
      this.$router.push({ name: 'login' });
    },

    hasSubMenus(menu) {
      return typeof menu.subMenus !== 'undefined' && menu.subMenus.length > 0;
    },
  },
};
</script>

<style>
@import '../../../../node_modules/vuetify/dist/vuetify.css';
@import '../../sass/app.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

.copyright a {
  text-decoration: none;
}
</style>
