<template>
  <v-dialog
    v-model="value"
    width="60%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <v-layout>
          <v-flex
            md4
            pr-2
          >
            <img
              v-if="fileValid"
              class="image"
              :src="file.url"
            >
            <v-btn
              v-if="fileValid"
              @click="clearImage"
              color="primary"
              block
            >
              Hapus Gambar
            </v-btn>
            <file-upload
              v-if="!fileValid"
              v-model="file"
            />
          </v-flex>
          <v-flex
            md8
            pl-2
          >
            <form
              role="form"
              @submit="submitHandler"
            >
              <v-layout>
                <v-flex
                  xs2
                  pr-2
                >
                  <v-text-field
                    :disabled="formDisabled"
                    label="Kode"
                    v-model="form.id"
                  />
                </v-flex>
                <v-flex
                  xs10
                  pl-2
                >
                  <v-text-field
                    :disabled="formDisabled"
                    label="Jenis Kamar"
                    v-model="form.name"
                  />
                </v-flex>
              </v-layout>
              <v-text-field
                :disabled="formDisabled"
                label="Deskripsi"
                v-model="form.description"
              />
              <v-text-field
                :disabled="formDisabled"
                label="Ukuran"
                v-model="form.size"
              />
              <v-text-field
                :disabled="formDisabled"
                type="number"
                label="Kapasitas"
                v-model="form.capacity"
              />
              <v-text-field
                :disabled="formDisabled"
                label="Harga"
                v-model="form.price"
              />
              <v-layout
                row
                wrap
              >
                <v-flex
                  v-for="facility in facilities"
                  :key="facility.id"
                  xs6
                >
                  <v-checkbox
                    v-model="form.facilities"
                    :value="facility.id"
                    :label="facility.name"
                  />
                </v-flex>
              </v-layout>
              <div class="text-xs-right">
                <v-btn
                  :disabled="$v.$invalid || formDisabled"
                  type="submit"
                  dark
                  class="uajy-blue"
                >
                  Simpan
                </v-btn>
                <v-btn
                  @click="close"
                >
                  Batal
                </v-btn>
              </div>
            </form>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import FileUpload from '../Form/FileUpload';
import validator from '../../validators/roomType';

function emptyRoomType() {
  return {
    id: '',
    name: '',
    description: '',
    size: '',
    price: 0,
    capacity: 0,
    facilities: [],
  };
}

function emptyFile() {
  return {
    id: null,
    file_name: '',
    path: '',
    url: '',
  };
}

export default {
  components: {
    FileUpload,
  },

  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: String,
      default: null,
    },

    facilities: {
      type: Array,
      required: true,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyRoomType(),
      file: {
        id: null,
        file_name: '',
        path: '',
        url: '',
      },
    };
  },

  validations: {
    payload: validator,
  },

  computed: {
    title() {
      if (!this.edit) {
        return 'Tambah Jenis Kamar';
      }
      return 'Edit Jenis Kamar';
    },

    fileValid() {
      return this.file.url !== '';
    },

    payload() {
      return {
        ...this.form,
        image_id: this.file.id,
      };
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyRoomType();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchRoomType(this.id);
        this.form.facilities = this.form.facilities
          .map(item => item.id);
          
        this.file = this.form.image === null ? emptyFile() : this.form.image;
        this.form.image_id = this.file.id;

        this.loading = false;
        this.formDisabled = false;
      }
    },
  },

  methods: {
    ...mapActions({
      storeRoomType: 'RoomType/store',
      fetchRoomType: 'RoomType/fetch',
      updateRoomType: 'RoomType/update',
    }),

    close() {
      this.form = emptyRoomType();
      this.onClose();
      this.$emit('input', false);
    },

    clearImage() {
      this.file = emptyFile();
      this.form.image = emptyFile();
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeRoomType(this.payload);
      } else {
        await this.updateRoomType(this.payload);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>

<style scoped>
.image {
  width: 100%;
  height: auto;
}
</style>

