<template>
  <div
    class="dropzone"
    ref="uploader"
  />
</template>

<script>
import Dropzone from 'dropzone';
import Auth from '../../services/Auth';

export default {
  props: {
    value: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      dropzoneInstance: null,
      uploadUrl: '/api/images',
    };
  },

  methods: {
    initDropzone() {
      this.dropzoneInstance = new Dropzone(this.$refs.uploader, {
        url: this.uploadUrl,
        headers: {
          Authorization: `Bearer ${Auth.getJwt()}`,
        },
      });

      this.dropzoneInstance.on('success', this.onSuccess);
    },

    onSuccess(file, res) {
      this.$emit('input', res);
      this.dropzoneInstance.removeFile(file);
    },
  },

  mounted() {
    this.initDropzone();
  },

  destroyed() {
    this.dropzoneInstance.destroy();
  },
};
</script>

<style scoped>
@import '../../../../../node_modules/dropzone/dist/dropzone.css';
</style>

