<template>
  <v-layout
    wrap
    align-content-start
  >
    <v-flex
      md12
      mb-3
    >
      <monthly-stats />
    </v-flex>
    <v-flex md6>
      <report-generator />
    </v-flex>
  </v-layout>
</template>

<script>
import MonthlyStats from './MonthlyStats';
import ReportGenerator from './ReportGenerator';

export default {
  components: {
    MonthlyStats,
    ReportGenerator,
  },
};
</script>

