<template>
  <v-card>
    <v-card-title>
      <h3 class="headline">Statistik Pendapatan Bulanan</h3>
    </v-card-title>
    <v-card-text>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <canvas
        ref="ctx"
        width="100%"
        height="20"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import Chart from 'chart.js';
import moment from 'moment';
import Http from '../../services/Http';

export default {
  data() {
    return {
      loading: false,
      chart: null,
      stats: [],
    };
  },

  computed: {
    chartData() {
      const labels = this.stats.map(item => item.name);
      const income_data = this.stats.map(item => (item.total / 100000));
      const reservation_data = this.stats.map(item => item.reservations);

      return {
        labels,
        datasets: [
          {
            label: 'Penghasilan /100K',
            data: income_data,
            backgroundColor: '#AED581',
            borderColor: '#689F38',
          },
          {
            label: 'Jumlah Reservasi',
            data: reservation_data,
            backgroundColor: '#64B5F6',
            borderColor: '#1976D2',
          },
        ],
      };
    },
  },

  methods: {
    fetchDataHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        const year = moment().format('YYYY');

        Http.get(`/reports/monthly-incomes/${year}`, successCallback, errorCallback);
      });
    },

    initChart() {
      const ctx = this.$refs.ctx.getContext('2d');

      this.chart = new Chart(ctx, {
        type: 'bar',
        data: this.chartData,
      });
    },
  },

  async mounted() {
    this.loading = true;
    this.stats = await this.fetchDataHandler();
    this.initChart();
    this.loading = false;
  },
};
</script>
