<template>
  <v-card>
    <v-card-title>
      <h3 class="headline">Ekspor Laporan</h3>
      <v-spacer />
      <v-progress-circular
        v-if="loading"
        :indeterminate="loading"
      />
    </v-card-title>
    <v-card-text>
      <v-select
        :disabled="loading"
        label="Jenis Laporan"
        v-model="form.reportType"
        :items="reportTypes"
        item-value="id"
        item-text="text"
        class="mr-2"
      />
      <v-text-field
        :disabled="loading"
        type="number"
        label="Tahun"
        v-model="form.year"
        class="mr-2"
      />
      <v-select
        :disabled="loading"
        v-if="form.reportType === 'room-types'"
        label="Bulan"
        v-model="form.month"
        :items="months"
        item-value="id"
        item-text="text"
      />
      <v-btn
        :disabled="loading"
        color="primary"
        block
        @click="exportHandler"
      >
        Ekspor
      </v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from 'moment';
import Http from '../../services/Http';

export default {
  data() {
    return {
      loading: false,
      reportTypes: [
        { id: 'customers', text: 'Pelanggan Baru' },
        { id: 'room-types', text: 'Jumlah Tamu per Jenis Kamar' },
        { id: 'top-customers', text: 'Customer Dengan Transaksi Terbanyak' },
        { id: 'monthly-incomes', text: 'Pendapatan Bulanan' },
        { id: 'yearly-incomes-per-branches', text: 'Pendapatan Tahunan' },
      ],
      reportUrl: '',
      form: {
        reportType: 'customers',
        year: moment().format('YYYY'),
        month: '01',
      },
    };
  },

  computed: {
    months() {
      return [
        { id: '01', text: 'Januari' },
        { id: '02', text: 'Februari' },
        { id: '03', text: 'Maret' },
        { id: '04', text: 'April' },
        { id: '05', text: 'Mei' },
        { id: '06', text: 'Juni' },
        { id: '07', text: 'Juli' },
        { id: '08', text: 'Agustus' },
        { id: '09', text: 'September' },
        { id: '10', text: 'Oktober' },
        { id: '11', text: 'November' },
        { id: '12', text: 'Desember' },
      ];
    },

    exportUrl() {
      const { reportType, year, month } = this.form;
      const addition = reportType === 'room-types' ? `/${month}` : '';

      return `${this.reportUrl}/${reportType}/${year}${addition}`;
    },
  },

  methods: {
    reportUrlFetchHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('report-url', successCallback, errorCallback);
      });
    },

    exportHandler() {
      window.open(this.exportUrl, '_blank');
    },
  },

  async mounted() {
    this.loading = true;
    this.reportUrl = await this.reportUrlFetchHandler();
    this.loading = false;
  },
};
</script>
