@import '../../../node_modules/skeleton-css/css/normalize.css';
@import '../../../node_modules/skeleton-css/css/skeleton.css';
@import '../../../node_modules/font-awesome/css/font-awesome.min.css';

body {
  background: #fefefe;
  color: #444;
}

.clearfix {
  width: 100%;
  clear: both;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group select {
  width: calc(100% - 38px) !important;
  height: 38px;
  border-left: none;
}

.input-group .input-group-addon {
  background: #fdfdfd;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #d1d1d1;
  text-align: center;
}

.button {
  display: block;
  width: 100%;
  font-size: 18px;
  background: #EB9532;
  border: none;
  color: #444;
  font-weight: normal;
  padding: 10px 15px;
  height: auto;
}

/* Landing Page */

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6) 
    ),
    url('../img/tugu-jogja.png') no-repeat center;
  background-size: cover;
  padding: 25px 150px;
  box-sizing: border-box;
}

.site-logo {
  display: block;
  margin: 8.4% auto 0 auto;
}

.site-description {
  display: block;
  margin: 0 auto 8.4% auto;
  color: #fff;
  text-align: center;
}

.landing .review {
  float: left;
  width: 45%;
  font-family: serif;
  font-style: italic;
  font-size: 26px;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.landing .booking {
  float: right;
  width: 35%;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px;
}

.booking form {
  margin: 0;
}

.booking input[type="text"],
.booking input[type="number"],
.booking select {
  width: 100%;
  border-radius: 0;
}

.booking button {
  width: 100%;
  height: auto;
  background: #EB9532;
  font-size: 16px;
  font-weight: normal;
  color: #444;
  padding: 10px;
  margin: 0;
}

button.scroll-to-content {
  display: block;
  margin: 5.8% auto 0 auto;
  width: 72px;
  height: 72px;
  padding: 0;
  border-radius: 36px;
  color: #444;
  font-size: 20px;
  background: #fff;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

/* Content */

.site-content {
  position: relative;
  width: 100%;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  top: 30px;
}

.content-wrapper.at-content {
  top: 150px;
}

/* Header */

.site-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 0 25px;
  z-index: 999999;
}

.site-header.at-content {
  display: block;
}

.site-title {
  position: relative;
  top: 50%;
  float: left;
  display: block;
  margin-top: -30px;
}

.site-nav {
  position: relative;
  float: left;
  top: 50%;
  margin: -30px 0 0 12.5px;
  padding-left: 25px;
  border-left: 1px solid #eee;
}

.site-nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav .menu > li {
  display: inline-block;
}

.site-nav .menu > li > a {
  display: block;
  height: 60px;
  padding: 22px 15px;
  font-size: 16px;
  line-height: 16px;
  box-sizing: border-box;
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background 0.2s, color 0.1s;
}

.site-nav .menu > li > a:hover {
  background: #f03434;
  color: #fff;
}

.info {
  position: relative;
  left: -50px;
  float: right;
  list-style: none;
  margin-top: 20px;
}

.info > li {
  font-size: 14px;
  margin-bottom: 5px;
}

.info > li .fa {
  display: inline-block;
  width: 15px;
  margin-right: 5px;
}

/* Facilities */

.facilities h2 {
  font-size: 26px;
  text-align: center;
}


.facilities img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  background: #efefef;
  padding: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.facilities p {
  font-size: 16px;
  margin: 25px 0;
  text-align: center;
}

.explore-facilities {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/facilities/wide.png') no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  padding: 100px 25px 25px 25px;
}

.explore-facilities h1 {
  color: #fff;
  font-family: serif;
  font-size: 48px;
  font-style: italic;
  text-shadow: 1px 1px #000;
  margin-bottom: 25px;
}

.explore-facilities a {
  display: inline-block;
  background: #EB9532;
  color: #444;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}

/* Ratings */

.rating {
  margin: 50px 0;
  color: #3FC380;
  text-align: center;
}

.rating h2 {
  font-size: 26px;
}

.rating .point {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  margin: 0 auto 10px auto;
  border: 2px solid #3FC380;
}

.rating .point .fa {
  margin-top: 28px;
}

.rating .point-desc {
  font-weight: bold;
}

/* Map */

.map {
  width: 100%;
  height: 350px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Footer */

.site-footer {
  background: #444;
  color: #fff;
  padding: 25px;
}

.site-footer .copyright {
  float: left;
}

.site-footer .contact {
  float: right;
}

/* Room Finder */

.room-finder input[type="text"],
.room-finder input[type="number"],
.room-finder select {
  width: 100%;
}

.room-finder .columns.button-column {
  padding-top: 29px;
}

.room-finder .columns.button-column button {
  width: 100%;
}

.rooms-list-title {
  font-size: 24px;
  text-align: center;
}

.rooms {
  list-style: none;
}

.box,
.rooms > li {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  border: 1px solid #eee;
}

.room img {
  width: 100%;
  height: auto;
}

.room .room-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 15px 0;
  text-decoration: none;
  color: #444;
}

.room .room-desc {
  font-size: 14px;
}

.room .room-price {
  display: block;
  color: #D64541;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 0 0 0;
  margin: 0 0 15px 0;
  text-align: center;
}

/* Box */

.box h3 {
  font-size: 20px;
  margin: 0 0 15px 0;
}

.box img {
  max-width: 100%;
  height: auto;
}

/* Reservation */

.guest-info input[type="text"],
.guest-info input[type="email"],
.guest-info textarea {
  width: 100%;
}

.payment-types {
  list-style: none;
  border-top: 2px solid #ccc;
}

.payment-types > li {
  background: #eee;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  border-bottom: 2px solid #ccc;
}

.payment-types > li .fa {
  display: inline-block;
  width: 35px;
  margin-right: 10px;
}

.price-details {
  width: 100%;
}

.price-details tfoot tr td.total-label {
  text-align: right;
  font-weight: bold;
}

.price-details tfoot tr td.total-price {
  font-weight: bold;
}

table.room-details {
  width: 100%;
  margin-top: 25px;
  border-top: 1px solid #ccc;
}

table.room-details tbody tr td {
  font-size: 14px;
  color: #666;
  padding: 5px;
}
