<template>
  <div>
    <site-header />
    <section
      id="site-content"
      class="site-content">
      <header
        id="site-header"
        class="site-header">
        <a
          class="site-title"
          href="index.html"><img src="../../../img/site-logo.png"></a>
        <nav class="site-nav">
          <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="gallery.html">Gallery</a></li>
          </ul>
        </nav>
        <ul class="info">
          <li><i class="fa fa-map-marker"/> Jl. Babarsari No. 43 Yogyakarta</li>
          <li><i class="fa fa-phone"/> 0361 888 6233</li>
          <li><i class="fa fa-envelope"/> info@grandatmahotels.com</li>
        </ul>
      </header>
      <div class="content-wrapper">
        <div class="container">
          <section class="facilities">
            <h2>We serve with our best</h2>
            <div class="row">
              <div class="four columns">
                <img src="../../../img/facilities/1.png">
              </div>
              <div class="four columns">
                <img src="../../../img/facilities/2.png">
              </div>
              <div class="four columns">
                <img src="../../../img/facilities/3.png">
              </div>
            </div>
            <p>Jogja has always been special, so it's our duty to make you feel special and comfortable during your time with us. We serve with our best facilities and services which have been rated high. We'll make sure you enjoy even in every seconds with us, no matter you're traveler, businessman, or students having vacation in our special place.</p>
            <div class="row">
              <div class="four columns">
                <img src="../../../img/facilities/4.png">
              </div>
              <div class="four columns">
                <img src="../../../img/facilities/5.png">
              </div>
              <div class="four columns">
                <img src="../../../img/facilities/6.png">
              </div>
            </div>
          </section>
        </div>
        <section class="explore-facilities">
          <h1>Explore our facilities</h1>
          <a href="rooms.html">Explore</a>
        </section>
        <div class="container">
          <section class="rating">
            <h2>Rated as the best</h2>
            <div class="row">
              <div class="four columns">
                <div class="point">
                  <i class="fa fa-thumbs-up"/>
                </div>
                <span class="point-desc">Best Service</span>
              </div>
              <div class="four columns">
                <div class="point">
                  <i class="fa fa-dollar-sign"/>
                </div>
                <span class="point-desc">Best Price</span>
              </div>
              <div class="four columns">
                <div class="point">
                  <i class="fa fa-check"/>
                </div>
                <span class="point-desc">Best Quality</span>
              </div>
            </div>
          </section>
        </div>
        <section class="map">
          <iframe
            frameborder="0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCt1DsCFs8WDaoSb27OP1z7elvJeNpXe5Y&q=Universitas+Atma+Jaya+Yogyakarta"
            allowfullscreen/>
        </section>
        <footer class="site-footer">
          <span class="copyright">Created for college assignments. No copyright reserved</span>
          <span class="contact">info@grandatmahotels.com</span>
          <div class="clearfix"/>
        </footer>
      </div>
    </section>
  </div>
</template>

<script>
import SiteHeader from './SiteHeader';

export default {
  components: {
    SiteHeader,
  },
};
</script>
