<template>
  <section
    id="landing"
    class="landing">
    <img
      class="site-logo"
      src="../../../img/site-logo-white.png">
    <span class="site-description">LUXURIOUS HOTELS</span>
    <div class="review">
      <p>"Perfect place to stay. Special place in Special Jogja"<br>- Tommy Halim, Entrepreneur</p>
    </div>
    <div class="booking">
      <form role="form">
        <label for="branch_id">Location</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-map-marker"/>
          </span>
          <select name="branch_id">
            <option
              value="1"
              selected>Yogyakarta</option>
            <option value="2">Bandung</option>
          </select>
        </div>
        <label for="date_range">Stay Dates</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar"/></span>
          <input
            type="text"
            name="date_range">
        </div>
        <div class="row">
          <div class="six columns">
            <label for="num_of_adults">Adults</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users"/></span>
              <input
                type="number"
                name="num_of_adults"
                value="0">
            </div>
          </div>
          <div class="six columns">
            <label for="num_of_adults">Kids</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-users"/>
              </span>
              <input
                type="number"
                name="num_of_kids"
                value="0">
            </div>
          </div>
        </div>
        <button type="submit">Book Now</button>
      </form>
    </div>
    <div class="clearfix"/>
    <button
      onclick="scrollToContent()"
      class="scroll-to-content">
      <i class="fa fa-angle-down"/>
    </button>
  </section>
</template>
