<template>
  <v-layout>
    <v-flex md12>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <div class="control-bar">
        <v-btn
          dark
          class="uajy-blue"
          @click="showFormDialog"
        >
          Tambah Season
        </v-btn>
      </div>
      <v-card v-if="!loading">
        <v-data-table
          :headers="tableHeaders"
          :items="sanitizedSeasons"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.name" />
            <td v-html="props.item.start" />
            <td v-html="props.item.end" />
            <td class="text-xs-right">
              <v-btn
                color="primary"
                small
                dark
                @click="toggleEdit(props.item.id)"
              >
                Edit
              </v-btn>
              <v-btn
                color="red"
                small
                dark
                @click="showDeleteDialog(props.item.id)"
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <season-dialog
      :edit="isEditing"
      :id="selectedId"
      v-model="formDialogVisible"
      :on-close="formDialogCloseHandler"
      :on-submit="formDialogSubmitHandler"
    />
    <v-dialog
      v-model="deleteDialogVisible"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Hapus Season Ini?</v-card-title>
        <v-card-text>Tindakan ini tidak dapat dikembalikan</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteDialogVisible = false"
          >
            Batal
          </v-btn>
          <v-btn
            color="red darken-1"
            flat
            @click.native="deleteSeasonHandler(selectedId)"
          >
            Hapus
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';
import SeasonDialog from './SeasonDialog';

export default {
  components: {
    SeasonDialog,
  },

  data() {
    return {
      loading: true,
      formDialogVisible: false,
      deleteDialogVisible: false,
      isEditing: false,
      selectedId: null,
      tableHeaders: [
        { text: 'Season', align: 'left', value: 'name', sortable: true },
        { text: 'Mulai', align: 'left', value: 'start', sortable: true },
        { text: 'Selesai', align: 'left', value: 'end', sortable: true },
        { text: 'Tindakan', align: 'right', value: null, sortable: false },
      ],
    };
  },

  computed: {
    ...mapState({
      seasons: state => state.Season.data,
    }),

    sanitizedSeasons() {
      return this.seasons.map(item => ({
        id: item.id,
        name: item.name,
        start: moment(item.start).format('LL'),
        end: moment(item.end).format('LL'),
      }));
    },
  },

  methods: {
    ...mapActions({
      fetchSeasons: 'Season/fetchAll',
      deleteSeason: 'Season/delete',
    }),

    async fetchSeasonsHandler() {
      this.loading = true;
      await this.fetchSeasons();
      this.loading = false;
    },

    showFormDialog() {
      this.formDialogVisible = true;
    },

    showDeleteDialog(id) {
      this.selectedId = id;
      this.deleteDialogVisible = true;
    },

    toggleEdit(id) {
      this.selectedId = id;
      this.isEditing = true;
      this.showFormDialog();
    },

    formDialogCloseHandler() {
      this.isEditing = false;
      this.selectedId = null;
    },

    formDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchSeasonsHandler();
    },

    async deleteSeasonHandler(id) {
      this.loading = true;
      await this.deleteSeason(id);
      await this.fetchSeasons();
      this.selectedId = null;
      this.loading = false;
      this.deleteDialogVisible = false;
    },
  },

  async mounted() {
    await this.fetchSeasonsHandler();
  },
};
</script>
