<template>
  <v-dialog
    v-model="value"
    width="40%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-text-field
            :disabled="formDisabled"
            label="Nama Season"
            v-model="form.name"
          />
          <v-menu
            ref="startMenu"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            :nudge-right="40"
            min-width="290px"
            :close-on-content-click="false"
          >
            <v-text-field
              slot="activator"
              label="Mulai"
              v-model="form.start"
              readonly
            />
            <v-date-picker
              v-model="form.start"
              no-title
              scrollable
            >
              <v-spacer />
              <v-btn
                flat
                color="primary"
                @click="form.start = null"
              >
                Hapus
              </v-btn>
              <v-btn
                flat
                color="primary"
                @click="$refs.startMenu.save(form.start)"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
          <v-menu
            ref="endMenu"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            :nudge-right="40"
            min-width="290px"
            :close-on-content-click="false"
          >
            <v-text-field
              slot="activator"
              label="Selesai"
              v-model="form.end"
              readonly
            />
            <v-date-picker
              v-model="form.end"
              no-title
              scrollable
            >
              <v-spacer />
              <v-btn
                flat
                color="primary"
                @click="form.end = null"
              >
                Hapus
              </v-btn>
              <v-btn
                flat
                color="primary"
                @click="$refs.endMenu.save(form.end)"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
          <div class="text-xs-right">
            <v-btn
              :disabled="$v.$invalid || formDisabled"
              type="submit"
              dark
              class="uajy-blue"
            >
              Simpan
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import moment from 'moment';
import validator from '../../validators/season';

function emptySeason() {
  return {
    name: '',
    start: null,
    end: null,
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: Number,
      default: null,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptySeason(),
    };
  },

  validations: {
    form: validator,
  },

  computed: {
    title() {
      if (!this.edit) {
        return 'Tambah Season';
      }
      return 'Edit Season';
    },
  },

  watch: {
    async edit(value) {
      this.form = emptySeason();

      if (value) {
        this.loading = true;
        this.formDisabled = true;

        this.form = await this.fetchSeason(this.id);
        this.form.start = moment(this.form.start).format('YYYY-MM-DD');
        this.form.end = moment(this.form.end).format('YYYY-MM-DD');

        this.loading = false;
        this.formDisabled = false;
      }
    },
  },

  methods: {
    ...mapActions({
      storeSeason: 'Season/store',
      fetchSeason: 'Season/fetch',
      updateSeason: 'Season/update',
    }),

    close() {
      this.form = emptySeason();
      this.onClose();
      this.$emit('input', false);
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeSeason(this.form);
      } else {
        await this.updateSeason(this.form);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
