<template>
  <v-layout>
    <v-flex md12>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card
        v-if="!loading"
      >
        <v-card-text>
          <v-layout>
            <v-flex
              md8
              offset-xs2
            >
              <v-select
                label="Season"
                v-model="seasonId"
                :items="seasons"
                item-value="id"
                item-text="name"
                class="mb-4"
              />
              <table
                v-if="roomTypes.length > 0"
                class="price-table"
              >
                <thead>
                  <tr>
                    <th>Jenis Kamar</th>
                    <th>Harga Awal</th>
                    <th>Harga Season</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="roomType in roomTypes"
                    :key="roomType.id"
                  >
                    <td>
                      <v-text-field
                        :value="roomType.name"
                        readonly
                      />
                    </td>
                    <td>
                      <v-text-field
                        :value="roomType.initial_price"
                        readonly
                      />
                    </td>
                    <td>
                      <v-text-field
                        v-model="roomType.price"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <v-btn
                v-if="roomTypes.length > 0"
                @click="savePriceListHandler"
                color="primary"
              >
                Simpan
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Http from '../../services/Http';

export default {
  data() {
    return {
      loading: true,
      seasonId: null,
      roomTypes: [],
    };
  },

  computed: {
    ...mapState({
      seasons: state => state.Season.data,
    }),

    formPayload() {
      return this.roomTypes
        .map((item) => {
          const { id, price } = item;

          return { id, price };
        });
    },
  },

  watch: {
    seasonId(val) {
      const successCallback = (res) => {
        this.roomTypes = res.data;
        this.loading = false;
      };

      const errorCallback = () => {
        this.loading = false;
      };

      this.loading = true;
      Http.get(`seasons/${val}/room-types`, successCallback, errorCallback);
    },
  },

  methods: {
    ...mapActions({
      fetchSeasons: 'Season/fetchAll',
    }),

    savePriceListHandler() {
      const payload = {
        price_list: this.formPayload,
      };

      const successCallback = () => {
        this.loading = false;
      };

      const errorCallback = () => {
        this.loading = false;
      };

      this.loading = true;
      Http.post(`seasons/${this.seasonId}/room-types`, payload, successCallback, errorCallback);
    },
  },

  async mounted() {
    this.loading = true;
    await this.fetchSeasons();
    this.loading = false;
  },
};
</script>

<style>
.price-table {
  width: 100%;
}

.price-table tbody tr td {
  padding: 0 10px;
}
</style>

