<template>
  <v-dialog
    v-model="value"
    width="40%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-layout>
            <v-flex
              sm6
              pr-2>
              <v-text-field
                :disabled="formDisabled"
                label="Nama Pengguna"
                v-model="form.name"
              />
            </v-flex>
            <v-flex
              sm6
              pl-2>
              <v-text-field
                :disabled="formDisabled"
                label="Email"
                v-model="form.email"
              />
            </v-flex>
          </v-layout>
          <v-select
            :disabled="formDisabled"
            label="Peran"
            v-model="form.role_id"
            :items="roles"
            item-value="id"
            item-text="name"
          />
          <v-text-field
            :disabled="formDisabled"
            type="password"
            label="Kata Sandi"
            v-model="form.password"
          />
          <v-text-field
            :disabled="formDisabled"
            type="password"
            label="Konfirmasi Kata Sandi"
            v-model="form.password_conf"
          />
          <div class="text-xs-right">
            <v-btn
              :disabled="$v.$invalid || passwordEmpty || !passwordMatch || formDisabled"
              type="submit"
              dark
              class="uajy-blue"
            >
              Simpan
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import validator from '../../validators/user';

function emptyUser() {
  return {
    name: '',
    email: '',
    role_id: 1,
    password: null,
    password_conf: null,
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: Number,
      default: null,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyUser(),
    };
  },

  validations: {
    form: validator,
  },

  computed: {
    ...mapState({
      roles: state => state.Role.data,
    }),

    title() {
      if (!this.edit) {
        return 'Tambah Pengguna';
      }
      return 'Edit Pengguna';
    },

    passwordEmpty() {
      const {
        password,
        password_conf,
      } = this.form;

      if (!this.edit) {
        return password === ''
          || password_conf === ''
          || password === null
          || password_conf === null;
      }
      return false;
    },

    passwordMatch() {
      const {
        password,
        password_conf,
      } = this.form;

      return password === password_conf;
    },

    sanitizedForm() {
      const {
        name,
        email,
        role_id,
        password,
      } = this.form;

      if (password === null || password === '') {
        return {
          name,
          email,
          role_id,
        };
      }

      return this.form;
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyUser();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchUser(this.id);
        this.loading = false;
        this.formDisabled = false;
      }
    },
  },

  methods: {
    ...mapActions({
      storeUser: 'User/store',
      fetchUser: 'User/fetch',
      updateUser: 'User/update',
    }),

    close() {
      this.form = emptyUser();
      this.onClose();
      this.$emit('input', false);
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid || this.passwordEmpty || !this.passwordMatch) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeUser(this.form);
      } else {
        await this.updateUser(this.sanitizedForm);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
