<template>
  <v-layout>
    <v-flex md12>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <div class="control-bar">
        <v-btn
          dark
          class="uajy-blue"
          @click="showFormDialog"
        >
          Tambah Layanan Berbayar
        </v-btn>
      </div>
      <v-card v-if="!loading">
        <v-data-table
          :headers="tableHeaders"
          :items="sanitizedServices"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.name" />
            <td
              class="text-xs-right"
              v-html="props.item.price"
            />
            <td class="text-xs-right">
              <v-btn
                color="primary"
                small
                dark
                @click="toggleEdit(props.item.id)"
              >
                Edit
              </v-btn>
              <v-btn
                color="red"
                small
                dark
                @click="showDeleteDialog(props.item.id)"
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <service-dialog
      :edit="isEditing"
      :id="selectedId"
      v-model="formDialogVisible"
      :on-close="formDialogCloseHandler"
      :on-submit="formDialogSubmitHandler"
    />
    <v-dialog
      v-model="deleteDialogVisible"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Hapus Layanan Berbayar Ini?</v-card-title>
        <v-card-text>Tindakan ini tidak dapat dikembalikan</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteDialogVisible = false"
          >
            Batal
          </v-btn>
          <v-btn
            color="red darken-1"
            flat
            @click.native="deleteServiceHandler(selectedId)"
          >
            Hapus
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import numeral from 'numeral';
import ServiceDialog from './ServiceDialog';

export default {
  components: {
    ServiceDialog,
  },

  data() {
    return {
      loading: true,
      formDialogVisible: false,
      deleteDialogVisible: false,
      isEditing: false,
      selectedId: null,
      tableHeaders: [
        { text: 'Nama Layanan', align: 'left', value: 'name', sortable: true },
        { text: 'Harga', align: 'right', value: 'price', sortable: true },
        { text: 'Tindakan', align: 'right', value: null, sortable: false },
      ],
    };
  },

  computed: {
    ...mapState({
      services: state => state.Service.data,
    }),

    sanitizedServices() {
      return this.services.map(item => ({
        id: item.id,
        name: item.name,
        price: `Rp ${numeral(item.price).format('0,0')}`,
      }));
    },
  },

  methods: {
    ...mapActions({
      fetchServices: 'Service/fetchAll',
      deleteService: 'Service/delete',
    }),

    async fetchServicesHandler() {
      this.loading = true;
      await this.fetchServices();
      this.loading = false;
    },

    showFormDialog() {
      this.formDialogVisible = true;
    },

    showDeleteDialog(id) {
      this.selectedId = id;
      this.deleteDialogVisible = true;
    },

    toggleEdit(id) {
      this.selectedId = id;
      this.isEditing = true;
      this.showFormDialog();
    },

    formDialogCloseHandler() {
      this.isEditing = false;
      this.selectedId = null;
    },

    formDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchServicesHandler();
    },

    async deleteServiceHandler(id) {
      this.loading = true;
      await this.deleteService(id);
      await this.fetchServices();
      this.selectedId = null;
      this.loading = false;
      this.deleteDialogVisible = false;
    },
  },

  async mounted() {
    await this.fetchServicesHandler();
  },
};
</script>
