<template>
  <v-dialog
    v-model="value"
    width="40%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-text-field
            :disabled="formDisabled"
            label="Nama Layanan"
            v-model="form.name"
          />
          <v-text-field
            :disabled="formDisabled"
            label="Harga"
            v-model="form.price"
          />
          <div class="text-xs-right">
            <v-btn
              :disabled="$v.$invalid || formDisabled"
              type="submit"
              dark
              class="uajy-blue"
            >
              Simpan
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import validator from '../../validators/service';

function emptyService() {
  return {
    name: '',
    price: 0,
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: Number,
      default: null,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyService(),
    };
  },

  validations: {
    form: validator,
  },

  computed: {
    title() {
      if (!this.edit) {
        return 'Tambah Layanan';
      }
      return 'Edit Layanan';
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyService();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchService(this.id);
        this.loading = false;
        this.formDisabled = false;
      }
    },
  },

  methods: {
    ...mapActions({
      storeService: 'Service/store',
      fetchService: 'Service/fetch',
      updateService: 'Service/update',
    }),

    close() {
      this.form = emptyService();
      this.onClose();
      this.$emit('input', false);
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeService(this.form);
      } else {
        await this.updateService(this.form);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
