<template>
  <v-dialog
    v-model="value"
    width="40%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-select
            label="Jenis"
            v-model="form.type"
            :items="types"
            item-value="id"
            item-text="name"
          />
          <v-text-field
            :disabled="formDisabled"
            label="Nama"
            v-model="form.name"
          />
          <v-text-field
            :disabled="formDisabled"
            label="No. Telpon"
            v-model="form.phone"
          />
          <v-text-field
            :disabled="formDisabled"
            label="Alamat"
            v-model="form.address"
          />
          <v-text-field
            :disabled="formDisabled"
            label="No. Identitas"
            v-model="form.id_number"
          />
          <div class="text-xs-right">
            <v-btn
              :disabled="$v.$invalid || formDisabled"
              type="submit"
              dark
              class="uajy-blue"
            >
              Simpan
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import validator from '../../validators/customer';

function emptyCustomer() {
  return {
    type: null,
    name: '',
    phone: '',
    address: '',
    id_number: '',
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: Number,
      default: null,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      types: [
        { id: 'P', name: 'Personal' },
        { id: 'G', name: 'Grup' },
      ],
      form: emptyCustomer(),
    };
  },

  validations: {
    form: validator,
  },

  computed: {
    title() {
      if (!this.edit) {
        return 'Tambah Pelanggan';
      }
      return 'Edit Pelanggan';
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyCustomer();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchCustomer(this.id);
        this.loading = false;
        this.formDisabled = false;
      }
    },
  },

  methods: {
    ...mapActions({
      storeCustomer: 'Customer/store',
      fetchCustomer: 'Customer/fetch',
      updateCustomer: 'Customer/update',
    }),

    close() {
      this.form = emptyCustomer();
      this.onClose();
      this.$emit('input', false);
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeCustomer(this.form);
      } else {
        await this.updateCustomer(this.form);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
