<template>
  <v-layout>
    <v-flex md12>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <div class="control-bar">
        <v-btn
          dark
          class="uajy-blue"
          @click="showFormDialog"
        >
          Tambah Pelanggan
        </v-btn>
      </div>
      <v-card v-if="!loading">
        <v-data-table
          :headers="tableHeaders"
          :items="customers"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.name" />
            <td>{{ props.item.type === 'P' ? 'Personal' : 'Grup' }}</td>
            <td v-html="props.item.phone" />
            <td class="text-xs-right">
              <v-btn
                color="primary"
                small
                dark
                @click="toggleEdit(props.item.id)"
              >
                Edit
              </v-btn>
              <v-btn
                color="red"
                small
                dark
                @click="showDeleteDialog(props.item.id)"
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <customer-dialog
      :edit="isEditing"
      :id="selectedId"
      v-model="formDialogVisible"
      :on-close="formDialogCloseHandler"
      :on-submit="formDialogSubmitHandler"
    />
    <v-dialog
      v-model="deleteDialogVisible"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Hapus Pelanggan Ini?</v-card-title>
        <v-card-text>Tindakan ini tidak dapat dikembalikan</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteDialogVisible = false"
          >
            Batal
          </v-btn>
          <v-btn
            color="red darken-1"
            flat
            @click.native="deleteCustomerHandler(selectedId)"
          >
            Hapus
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import CustomerDialog from './CustomerDialog';

export default {
  components: {
    CustomerDialog,
  },

  data() {
    return {
      loading: true,
      formDialogVisible: false,
      deleteDialogVisible: false,
      isEditing: false,
      selectedId: null,
      tableHeaders: [
        { text: 'Nama Pelanggan', align: 'left', value: 'name', sortable: true },
        { text: 'Jenis', align: 'left', value: 'type', sortable: true },
        { text: 'No. Telpon', align: 'left', value: 'phone', sortable: true },
        { text: 'Tindakan', align: 'right', value: null, sortable: false },
      ],
    };
  },

  computed: {
    ...mapState({
      customers: state => state.Customer.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchCustomers: 'Customer/fetchAll',
      deleteCustomer: 'Customer/delete',
    }),

    async fetchCustomersHandler() {
      this.loading = true;
      await this.fetchCustomers();
      this.loading = false;
    },

    showFormDialog() {
      this.formDialogVisible = true;
    },

    showDeleteDialog(id) {
      this.selectedId = id;
      this.deleteDialogVisible = true;
    },

    toggleEdit(id) {
      this.selectedId = id;
      this.isEditing = true;
      this.showFormDialog();
    },

    formDialogCloseHandler() {
      this.isEditing = false;
      this.selectedId = null;
    },

    formDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchCustomersHandler();
    },

    async deleteCustomerHandler(id) {
      this.loading = true;
      await this.deleteCustomer(id);
      await this.fetchCustomers();
      this.selectedId = null;
      this.loading = false;
      this.deleteDialogVisible = false;
    },
  },

  async mounted() {
    await this.fetchCustomersHandler();
  },
};
</script>
