<template>
  <v-layout>
    <v-flex md12>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <div class="control-bar">
        <v-btn
          dark
          class="uajy-blue"
          @click="showFormDialog"
        >
          Tambah Kamar
        </v-btn>
      </div>
      <v-card v-if="!loading">
        <v-data-table
          :headers="tableHeaders"
          :items="rooms"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.branch.name" />
            <td v-html="props.item.id" />
            <td v-html="props.item.bed.name" />
            <td>{{ props.item.smoking ? 'Ya' : 'Tidak' }}</td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                small
                dark
                @click="toggleEdit(props.item.id)"
              >
                Edit
              </v-btn>
              <v-btn
                color="red"
                small
                dark
                @click="showDeleteDialog(props.item.id)"
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <room-dialog
      :edit="isEditing"
      :id="selectedId"
      :branches="branches"
      :room-types="roomTypes"
      :bed-types="bedTypes"
      v-model="formDialogVisible"
      :on-close="formDialogCloseHandler"
      :on-submit="formDialogSubmitHandler"
    />
    <v-dialog
      v-model="deleteDialogVisible"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Hapus Kamar Ini?</v-card-title>
        <v-card-text>Tindakan ini tidak dapat dikembalikan</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteDialogVisible = false"
          >
            Batal
          </v-btn>
          <v-btn
            color="red darken-1"
            flat
            @click.native="deleteRoomTypeHandler(selectedId)"
          >
            Hapus
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import RoomDialog from './RoomDialog';

export default {
  components: {
    RoomDialog,
  },

  data() {
    return {
      loading: true,
      formDialogVisible: false,
      deleteDialogVisible: false,
      isEditing: false,
      selectedId: null,
      tableHeaders: [
        { text: 'Cabang', align: 'left', value: 'branch.name', sortable: true },
        { text: 'No. Kamar', align: 'left', value: 'id', sortable: true },
        { text: 'Bed', align: 'left', value: 'bed.name', sortable: true },
        { text: 'Merokok', align: 'left', value: 'smoking', sortable: true },
        { text: 'Tindakan', align: 'right', value: null, sortable: false },
      ],
    };
  },

  computed: {
    ...mapState({
      rooms: state => state.Room.data,
      branches: state => state.Branch.data,
      roomTypes: state => state.RoomType.data,
      bedTypes: state => state.BedType.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchRooms: 'Room/fetchAll',
      fetchBranches: 'Branch/fetchAll',
      fetchRoomTypes: 'RoomType/fetchAll',
      fetchBedTypes: 'BedType/fetchAll',
      deleteRoom: 'Room/delete',
    }),

    async fetchDataHandler() {
      this.loading = true;
      await this.fetchRooms();
      await this.fetchBranches();
      await this.fetchRoomTypes();
      await this.fetchBedTypes();
      this.loading = false;
    },

    showFormDialog() {
      this.formDialogVisible = true;
    },

    showDeleteDialog(id) {
      this.selectedId = id;
      this.deleteDialogVisible = true;
    },

    toggleEdit(id) {
      this.selectedId = id;
      this.isEditing = true;
      this.showFormDialog();
    },

    formDialogCloseHandler() {
      this.isEditing = false;
      this.selectedId = null;
    },

    formDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchDataHandler();
    },

    async deleteRoomTypeHandler(id) {
      this.loading = true;
      await this.deleteRoom(id);
      await this.fetchRooms();
      this.selectedId = null;
      this.loading = false;
      this.deleteDialogVisible = false;
    },
  },

  async mounted() {
    await this.fetchDataHandler();
  },
};
</script>
