<template>
  <v-dialog
    v-model="value"
    width="50%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-spacer />
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-layout>
            <v-flex
              xs4
              pr-2
            >
              <v-text-field
                :disabled="formDisabled"
                label="Kode Kamar"
                :value="form.id"
                readonly
              />
            </v-flex>
            <v-flex
              xs4
              pl-2
              pr-2
            >
              <v-text-field
                :disabled="formDisabled"
                label="No. Lantai"
                v-model="form.floor"
                :readonly="edit"
              />
            </v-flex>
            <v-flex
              xs4
              pl-2
            >
              <v-text-field
                :disabled="formDisabled"
                label="No. Kamar"
                v-model="form.room"
                :readonly="edit"
              />
            </v-flex>
          </v-layout>
          <v-select
            label="Cabang"
            v-model="form.branch_id"
            :items="branches"
            item-value="id"
            item-text="name"
            :readonly="edit"
          />
          <v-select
            label="Jenis Kamar"
            v-model="form.room_type_id"
            :items="roomTypes"
            item-value="id"
            item-text="name"
          />
          <v-select
            label="Bed"
            v-model="form.bed_type_id"
            :items="bedTypes"
            item-value="id"
            item-text="name"
          />
          <v-checkbox
            label="Merokok"
            v-model="form.smoking"
          />
          <div class="text-xs-right">
            <v-btn
              :disabled="$v.$invalid || formDisabled"
              type="submit"
              dark
              class="uajy-blue"
            >
              Simpan
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import validator from '../../validators/room';

function emptyRoom() {
  return {
    id: '',
    floor: '',
    room: '',
    branch_id: null,
    room_type_id: null,
    bed_type_id: null,
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: String,
      default: null,
    },

    branches: {
      type: Array,
      required: true,
    },

    roomTypes: {
      type: Array,
      required: true,
    },

    bedTypes: {
      type: Array,
      required: true,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyRoom(),
    };
  },

  validations: {
    form: validator,
  },

  computed: {
    title() {
      if (!this.edit) {
        return 'Tambah Kamar';
      }
      return 'Edit Kamar';
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyRoom();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchRoom(this.id);
        this.form.branch_id = this.form.branch.id;
        this.form.bed_type_id = this.form.bed.id;
        this.form.room_type_id = this.form.type.id;
        this.form.floor = this.form.id.substr(3, 2);
        this.form.room = this.form.id.substr(5, 2);
        this.loading = false;
        this.formDisabled = false;
      }
    },

    'form.branch_id': function () {
      this.form.id = this.generateId();
    },

    'form.room': function () {
      this.form.id = this.generateId();
    },

    'form.floor': function () {
      this.form.id = this.generateId();
    },

    'form.room_type_id': function () {
      this.form.id = this.generateId();
    },
  },

  methods: {
    ...mapActions({
      storeRoom: 'Room/store',
      fetchRoom: 'Room/fetch',
      updateRoom: 'Room/update',
    }),

    close() {
      this.form = emptyRoom();
      this.onClose();
      this.$emit('input', false);
    },

    generateId() {
      const { branch_id, floor, room, room_type_id } = this.form;

      return (branch_id === null ? '' : branch_id)
        + floor
        + room
        + (room_type_id === null ? '' : room_type_id);
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeRoom(this.form);
      } else {
        await this.updateRoom(this.form);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
