<template>
  <v-layout
    align-center
    justify-center
  >
    <v-flex md4>
      <v-card>
        <v-card-text>
          <span
            v-if="errors.wrongCredentials"
            class="wrong-credentials red--text"
          >
            Nama pengguna/kata sandi salah
          </span>
          <form
            role="form"
            @submit="authenticationHandler"
          >
            <v-text-field
              prepend-icon="mail"
              label="Email"
              v-model="email"
            />
            <v-text-field
              type="password"
              prepend-icon="lock"
              label="Kata sandi"
              v-model="password"
            />
            <v-btn
              large
              block
              dark
              class="uajy-blue"
              type="submit"
            >
              Masuk
            </v-btn>
          </form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Auth from '../../services/Auth';

export default {
  data: () => ({
    email: null,
    password: null,
    errors: {
      wrongCredentials: false,
    },
  }),

  watch: {
    username() {
      this.errors.wrongCredentials = false;
    },

    password() {
      this.errors.wrongCredentials = false;
    },
  },

  methods: {
    authenticationHandler(e) {
      e.preventDefault();

      Auth.authenticate(this.email, this.password)
        .then(() => {
          this.$router.push({ name: 'dashboard' });
        })
        .catch((err) => {
          if (err.data === 'wrong_credentials') {
            this.errors.wrongCredentials = true;
          }
        });
    },
  },
};
</script>

<style>
.wrong-credentials {
  display: block;
  text-align: center;
}
</style>

